
body{
    background-color: bisque;
}
.titulo{
    text-align: center;
    font-family:monospace;
    font-style: oblique;
}

.descricaoproj{
    text-align:left;

}

.histadda img{
    border: 15px solid black;
    border-image-source: url('imagens/papyrus.png');
    border-image-slice: 20;
    border-image-repeat: repeat;

    margin-left: 50%;
    margin-right: 50%;
}
